* {
    text-align: center;
    margin: 0 auto;
}

body {
    background-color: #dddddd;
}

header {  
    padding: 10px;
}

main {
    background-color: #ffffff;
}

#contentHeader {
    border-bottom: 2px solid #dddddd;
}

#pwArea {
    border: dashed 3px #c0c7cf;
}

#generatedPW {
    font-size: 1.5em;
}

#btnArea {
    border-top: 2px solid #dddddd;
}

.btn {
    margin: 20px;
    border-radius: 50px;
}

#generateBtn {
    background-color: #af0808;
    color: white;
}

#copyBtn {
    background-color: #c0c7cf;
}

/* extra small screen */
@media screen and (max-width: 575px) {
    /* adjust the width of the container (main contents) according to the screen size */
    .container {
        width: 90%;
    }
}

/*  small screen */
@media screen and (min-width: 576px) {
    /* adjust the width of the container (main contents) according to the screen size */
    .container {
        width: 80%;
    }
}

/* medium screen */
@media screen and (min-width: 768px) {
    /* adjust the width of the container (main contents) according to the screen size */
    .container {
        width: 70%;
    }
}

/* large screen */
@media screen and (min-width: 992px) {
    /* adjust the width of the container (main contents) according to the screen size */
    .container {
        width: 75%;
    }
}

/* extra large screen */
@media screen and (min-width: 1200px) {
    /* adjust the width of the container (main contents) according to the screen size */
    .container {
        width: 60%;
    }
}